# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# ML model files
*.pkl
*.pth
*.joblib
*.h5

# Dataset
data/
dataset/
datasets/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Colab
/content/

# IDE
.vscode/
.idea/
